# Saved models
/saved*
*.pth

.vscode/
.idea/
*.pyc
*.log
log_tensorboard
saved/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*# 忽略数据集
dataset/
dataset_example/

# 忽略模型权重和日志
saved/
log/
*.log

# 忽略 Python 缓存
__pycache__/
*.pyc
.ipynb_checkpoints/
